.salivary-amalyse-icon {
    transform: scale(3) translate(-550px, -210px);
}

.di-icon {
    transform: scale(2) translate(-400px,-200px);
}

.poly-icon {
    transform: scale(1) translate(-200px, -0px);
}

.mono-icon {
    transform: scale(2) translate(-150px, -400px);
}

.insulin-icon {
    transform: scale(9) translate(-1060px, -880px);
}

.beta-icon {
    transform: scale(7) translate(-850px, -760px);
}

.outer-container {
    display: flex;
}

.end-left {
    margin-left: -100px;
    width: 0;
}

.end-right {
    margin-left: 200px;
}

.cereal-caption {
    transform: scale(2.25) translate(100px, 60px)
}

.cereal {
    transform: scale(1) translate(-200px, 0px);
}

.cereal-grey {
    transform: scale(1) translate(-200px, 0px);
    opacity: .3;
}

.cheese {
    transform: scale(.75) translate(-700px, -200px);
}

.cheese-grey {
    transform: scale(2.25) translate(-632px, -265px);
    opacity: .3;
}

.cheese-caption {
    transform: scale(6) translate(110px, 30px);
}

.cupcake {
    transform: translate(-200px, 0px);
}

.cupcake-grey {
    transform: translate(-200px, 0px);
    opacity: .3;
}

.cupcake-caption {
    transform: scale(1.6) translate(53px, 50px);
}

.glycogen-icon{
    transform: scale(10) translate(-460px, -580px);
}