.salivary-amalyse-icon {
    transform: scale(3) translate(-550px, -210px);
}

.di-icon {
    transform: scale(2) translate(-400px,-200px);
}

.poly-icon {
    transform: scale(1) translate(-200px, -0px);
}

.mono-icon {
    transform: scale(2) translate(-150px, -400px);
}